.container-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0a6f6f;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999; 
  }
  
.search-form {
  margin-top: 23px;
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.search-icon {
  padding:0;
  position: absolute;
  top: 50%;
  left: 180px;
  transform: translateY(-70%);
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-size: contain;
  background-color: transparent; 
  border: none; 
}

  .search-input {
    padding-right: 30px; /* Добавляем отступ справа для размещения иконки */
  height: 35px;
  max-width: 500px;
  border-radius: 10px;
  }
    
  /* Дополнительные стили для иконки при наведении курсора */
  .search-icon:hover {
    opacity: 0.7; /* снижаем прозрачность иконки */
  cursor:pointer;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 100px;
  }
  
  .photo-card {
    position: relative;
  }
  
  .photo-card img {
    width: 100%;
    height: auto;
  }
  
  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
  }
  
  .info-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .message {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .photo-link {
    display: block;
  }
  
  .load-more {
    position: relative;
    display: block;
    margin: 20px auto;
    width: 210px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #e19829;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .load-more::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    z-index: -1;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  
  
  
  .load-more:hover {
    background-color: #0a6f6f;
  }
  
  .load-more:active {
    background-color: #bda98b;
  }
  .is-hidden {
    display: none;
  }
  
