<header>
    <div class="container-header">
    <form class="search-form" id="search-form">
      <input class="search-input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="button" class="search-icon"><img src="./images/glass icon.png" alt="Search" width="80" height="80">
      </button>
    </form>
</div>
</header>
<div class="gallery">
   
    
    <div class="photo-card">
        <img src="" alt="" loading="lazy" />
        <div class="info">
          <p class="info-item">
            <b>Likes</b>
          </p>
          <p class="info-item">
            <b>Views</b>
          </p>
          <p class="info-item">
            <b>Comments</b>
          </p>
          <p class="info-item">
            <b>Downloads</b>
          </p>
        </div>
      </div>

  </div>

  <button type="button" class="load-more">Load more</button>




